.DS_Store
.com.apple.timemachine.supported

base-vue/node_modules
base-vue/dist

# local env files
base-vue/.env
base-vue/.env.local
base-vue/.env.*.local
base-vue/.env.*.production
base-vue/.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?