.first_time_content {
	.container {
		max-width: 850px;
	}
	section {
		padding: 100px 0;
		&:nth-of-type(2n) {
			background: rgba(115, 136, 107, .15);
		}
		img {
			margin: 50px 0;
		}
	}
	h2 {
		font-size: 1.5em;
		text-align: center;
		margin-bottom: 40px;
		color: $cl-green;
	}
}



@media (max-width: 768px) {
	.first_time_content {
		section {
			padding: 50px 0;
		}
		h2 {
			margin-bottom: 15px;
		}
	}
}