#register-user {
    &.show {
        opacity: 0;
        transition: all .5s ease;
    }

    &.fade {
        opacity: 1;
        background: rgba(0, 0, 0, .3);
    }
}

.section_template {
    padding-top: 60px;
    margin-bottom: 100px;
    background: rgba(115, 136, 107, 0.15);

    .title {
        margin-bottom: 40px;
    }

    .title_sub {
        font-size: 1em;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        line-height: 1.8em;
        margin-bottom: 30px;
        font-weight: 500;
    }

    .box_content {
        background: #fff;
        padding: 60px 106px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-size: 0.875rem;
        color: #556170;

        .form-group {
            margin-bottom: 40px;

            label {
                font-weight: 600;
                margin: 0.5rem auto;
                font-size: 0.875rem;
                line-height: 17px;
                color: #000000;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.custom-control-label {
                    font-weight: normal;

                }

                .i-required {
                    background: #73886b;
                    font-weight: 600;
                    font-size: 0.75rem;
                    line-height: 14px;
                    color: #ffffff;
                    padding: 3.5px 13px;
                }

                &:before {
                    box-shadow: none;
                    border-color: #73886B;
                    background-color: #73886B;
                }
            }

            .birthday {
                &.is-invalid {
                    border-color: #dc3545 !important;
                    border-radius: 5px;

                    input {
                        border-color: #dc3545 !important;
                    }

                    .mx-icon-calendar {
                        color: #dc3545;
                    }
                }
            }

            .form-check {
                display: flex;
                align-items: center;
                width: max-content;

                &.form-check-inline {
                    display: inline-flex;
                    align-items: center;
                }
            }

            input {
                &.form-check-input {
                    width: 16px;
                    height: 16px;
                    margin-right: 0.5rem;

                    &:focus {
                        box-shadow: none;
                    }

                    &:checked {
                        background-color: #73886B;
                        border-color: #73886B;
                    }
                }
            }

            .zipcode_auto {
                color: #73886B;
                font-weight: 600;
                display: flex;
                font-size: 0.75em;
                text-decoration: none;
                align-items: center;

                img {
                    margin-right: .5rem;
                }
            }

            &:focus {
                border-color: #73886B;
            }

            .btn_confirm {
                background: #73886B;
                color: #fff;
                font-size: 1.125em;
                min-width: 398px;
                font-weight: 600;
                padding: 15px;
            }

        }
    }

    .box_send_completely {
        h3 {
            font-size: 1.5em;
            font-weight: 600;
            border-bottom: 1px solid rgba(85, 97, 112, 0.2);
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        .btn_green {
            background: #73886B;
            padding: 15px;
            min-width: 295px;
            font-size: 1.125em;
            font-weight: 600;
            color: #fff;
        }
    }
}

.view_document {
    white-space: pre;
}

#registration {
    .steps {
        padding: 0;
        margin: 0 150px 50px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50px;
            top: -25px;
            bottom: 0;
            margin: auto;
            width: 80%;
            height: 1px;
            background: #BDC3C5;
        }

        li {
            display: inline-block;
            text-align: center;
            width: 160px;
            // flex: 1 1 auto;
            &.active {
                a {
                    span {
                        &:first-of-type {
                            background: $cl-green;
                        }

                        &:last-of-type {
                            color: $cl-green;
                        }
                    }
                }
            }

            &.actived {
                a {
                    span {
                        &:first-of-type {
                            background: #EAEDE9;
                            border: 2px solid $cl-green;
                            color: $cl-green;
                        }

                        &:last-of-type {
                            color: $cl-green;
                        }
                    }
                }
            }

            a {
                display: block;

                span {
                    position: relative;
                    display: block;

                    &:first-of-type {
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        margin: auto;
                        background: #BDC3C5;
                        color: #fff;
                        font-size: 1.875em;
                        font-weight: 500;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        align-content: stretch;
                    }

                    &:last-of-type {
                        font-size: 0.75em;
                        color: #BDC3C5;
                        font-weight: 600;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .card {
        .card-header {
            border-radius: 0;
            border: none;
            background: #73886B;
            color: #fff;
            font-size: 1.5em;
            font-weight: 700;
        }

        .card-body {
            padding: 20px 100px;
            color: #556170;
            font-size: 0.875em;

            .form-group {
                margin-bottom: 20px;

                label {
                    font-weight: 700;
                    justify-content: space - between;
                }

                .btn_confirm {
                    min-width: auto;
                    width: 100%;
                }

                &.mb--40 {
                    margin-bottom: 40px
                }
                .custom-checkbox {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    font-size: 0.875rem;
                    line-height: 24px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-align: center;
                    max-width: 375px !important;
                    margin: 20px auto 10px;
                    color: #000000;
                    font-weight: 300;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                    }
                    input:checked ~ .checkmark {
                        background-color: #73886B;
                    }
                    input:checked ~ .checkmark:after {
                        display: block;
                    }
                    .checkmark {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background-color: transparent;
                        border: 1px solid #828282;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 7px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }

    .drop-zone {
        max-width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        font-weight: 500;
        cursor: pointer;
        color: $green-color;
        border: 1px dashed #828282;
        border-radius: 8px;
        background: #F2F2F2;

        .drop-zone__input {
            display: none;
        }

        .drop-zone__thumb {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #828282;
            background-size: cover;
            position: relative;

            &:after {
                content: attr(data-label);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 5px 0;
                color: #ffffff;
                background: rgba(0, 0, 0, 0.75);
                font-size: 14px;
                text-align: center;
            }
        }

        .drop-zone__prompt {
            position: relative;
            top: 30px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -70px;
                margin: auto;
                width: 59px;
                height: 60px;
            }
        }
    }
}


@media (max-width: 768px) {
    .section_template {
        margin-bottom: 0;
        padding-top: 145px;

        .box_content {
            padding: 30px;
            /*margin-left: -15px;
            margin-right: -15px;*/

            .form-group {
                margin-bottom: 20px;

                label {
                    margin-top: 0;
                    justify-content: normal;
                }

                .btn_confirm {
                    min-width: auto;
                    width: 100%;
                }
            }

            .card-body {
                padding: 15px;
            }
        }
    }
    #registration {
        .steps {
            margin: 0 0 50px 0;
            &:after {
                top: -35px;
            }

            li {
                a {
                    span {
                        &:last-of-type {
                            line-height: 1.3em;
                            min-height: 32px;
                            font-size: .7em;
                        }
                    }
                }
            }
        }

        .card {
            .card-body {
                padding: 15px;

                &.box_content {
                    .form-group {
                        margin-bottom: 20px;

                        label {
                            margin-bottom: 0.5rem
                        }

                        .btn_confirm {
                            min-width: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .section_template {
        .box_content {
            .form-group {
                label {
                    justify-content: normal;
                }
            }
        }
    }
    .view_document {
        white-space: normal;
    }

}
