@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

body {
    font-family: 'Mulish', sans-serif;
}

.ckbox {
    input {
        width: 20px;
        height: 20px;
    }
}

.ml-auto {
    margin-left: auto;
}

:root {
    overflow-x: hidden;
}


.table {
    > :not(:last-child) > :last-child > * {
        border-bottom: #dde2ef;
    }

    thead {
        background: #73886b;

        tr {
            th {
                color: #fff;
                border-left: 1px solid #FFFFFF;
                padding: 0;
                vertical-align: middle;
            }
        }
    ;
    }
}

.modal {
    &.show {
        display: block;

        .modal-content {
            z-index: 99999 !important;
        }
    }
}

.btn {
    &.action {
        width: 34px;
        height: 34px;
        margin-right: 10px;
        padding: 0;
    }

    &.btn-success {
        background-color: #73886b;
        color: #fff;
    }

    &.action-success {
        color: #48c774 !important;
        border: 1px solid #48c774;

        &:hover {
            color: #fff !important;
            background-color: #48c774;
            transition: all .2s ease-in-out;
            border: 1px solid #48c774 !important;
        }
    }

    &.action-change {
        color: #73886b;
        border: 1px solid #73886b;

        &:hover {
            color: #fff !important;
            background-color: #73886b;
            transition: all .2s ease-in-out;
            border: 1px solid #73886b !important;
        }
    }

    &.action-danger {
        color: #ff3860;
        border: 1px solid #ff3860;

        &:hover {
            color: #fff !important;
            background-color: #ff3860;
            transition: all .2s ease-in-out;
            border: 1px solid #ff3860 !important;
        }
    }

    &.dropdown-toggle {
        border: 1px solid #ced4da;

        &.parsley-error {
            border: 1px solid #ff3860;
        }
    }
}

.breadcrumb-header {
    .content-title {
        color: #73886b;
    }
}

.is-error {
    color: #ff3860;
    font-size: 14px;
    margin-top: 5px;
}

.main-content {
    .page-main {
        border-radius: 20px;
        padding: 2rem;

        .required-note {
            color: #ff3860;
            font-size: 16px;
        }
    }
}

.dropdown-menu {
    .dropdown-item {
        &:active {
            background-color: #73886b !important;
            color: #fff;
        }
    }
}

.tooltip-green {
    .tooltip-inner {
        background: #73886b;
    }

    &.bs-tooltip-top {
        .arrow {
            &:before {
                border-top-color: #73886b;
            }
        }
    }

    &.bs-tooltip-right {
        .arrow {
            &:before {
                border-right-color: #73886b;
            }
        }
    }

    &.bs-tooltip-bottom {
        .arrow {
            &:before {
                border-bottom-color: #73886b;
            }
        }
    }

    &.bs-tooltip-left {
        .arrow {
            &:before {
                border-left-color: #73886b;
            }
        }
    }
}

.tooltip-success {
    .tooltip-inner {
        background: #48c774;
    }

    &.bs-tooltip-top {
        .arrow {
            &:before {
                border-top-color: #48c774;
            }
        }
    }

    &.bs-tooltip-right {
        .arrow {
            &:before {
                border-right-color: #48c774;
            }
        }
    }

    &.bs-tooltip-bottom {
        .arrow {
            &:before {
                border-bottom-color: #48c774;
            }
        }
    }

    &.bs-tooltip-left {
        .arrow {
            &:before {
                border-left-color: #48c774;
            }
        }
    }

}

.tooltip-danger {
    .tooltip-inner {
        background: #ff3860;
    }

    &.bs-tooltip-top {
        .arrow {
            &:before {
                border-top-color: #ff3860;
            }
        }
    }

    &.bs-tooltip-right {
        .arrow {
            &:before {
                border-right-color: #ff3860;
            }
        }
    }

    &.bs-tooltip-bottom {
        .arrow {
            &:before {
                border-bottom-color: #ff3860;
            }
        }
    }

    &.bs-tooltip-left {
        .arrow {
            &:before {
                border-left-color: #ff3860;
            }
        }
    }
}
